.rotating-triangle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating-triangle {
  animation: rotateWithPause 10s ease-in-out infinite;
  opacity: 0.8;
}

@keyframes rotateWithPause {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}